<h1>Корзина</h1>
<div class="row">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Название</th>
        <th scope="col">Цена</th>
      </tr>
    </thead>
    <tbody>
      {{#if courses.length}}

      {{#each courses as |item key|}}
      <tr>
        <th scope="row">{{key}}</th>
        <td>{{item.title}}</td>
        <td class="price"> {{item.price}}</td>
      </tr>
      {{/each}}

      {{else}}

      {{/if}}
      <tr>
        <th scope="row">#</th>
        <td>Итого </td>
        <td class="price">{{price}}</td>
      </tr>
    </tbody>
  </table>
</div>