<h1>Детали </h1>
{{#if courseList.length }}

{{#each courseList as |course|}}
<div class="col s12 m6">
  <h2 class="header">{{course.title}} {{course.img}}</h2>
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-content">
        <p>{{course.description}}.</p>
        <p>Price: {{course.price}}.</p>
      </div>
      <div class="card-action">
        <a href="#">Открыть курсы ID: {{course.id}}</a>
      </div>
    </div>
  </div>
</div>
{{/each}}

{{else}}
<div class="col s12 m7">
  <h2>Курсов пока нет</h2>
</div>
{{/if}}