<h1>Курсы</h1>
{{#if courses.length }}

{{#each courses as |course|}}
<div class="col s12 m6">
  <h2 class="header">{{course.title}}</h2>
  <div class="card horizontal">
    <div class="card-stacked">
      <div class="card-image">
        <img src="{{course.img}}">
      </div>
      <div class="card-content">
        <p>{{course.description}}.</p>
        <p class="price big">{{course.price}}</p>
      </div>
      <div class="card-action actions">
        <a href="/courses/{{course.id}}" target="_blank">Подробнее о курсе</a>
        {{#if @root.isAuth}}
        <a href="/courses/{{course.id}}/edit?allow=true">Редактировать</a>
        <form action="/card/add" method="POST">
          <input type="hidden" name="_csrf" value="{{@root.csrfToken}}">
          <input type="hidden" name="id" value={{course.id}} />
          <button type="submit" class="btn btn-primary">Купить</button>
        </form>
        {{/if}}
      </div>
    </div>
  </div>
</div>
{{/each}}

{{else}}

<div class="col s12 m7">
  <h2>Курсов пока нет</h2>
</div>

{{/if}}